data/raw/*
data/external/*
data/processed/*
!data/raw/.gitkeep
!data/raw/example_listing_page.html
!data/external/.gitkeep
!data/external/README.md
!data/processed/.gitkeep

*.parquet
*.csv
*.zip
*.xlsx
*.xls
*.pdf
*.db
*.sqlite

__pycache__/
*.py[cod]
.ipynb_checkpoints/
.pytest_cache/

.venv/
project2_Mast30034/
venv/
env/

.DS_Store
Thumbs.db
